@import '_reset';
@import '_bootstrap';

/* Colors */
$blue: #2eabcb;
$pink: #feb8ba;
$green: #a3dcaf;
$orange: #ffc466;
$white: #ffffff;

$transparent-blue: rgba(46, 171, 203, 0.6);
$transparent-white: rgba(255, 255, 255, 0.6);

/* Fonts */
$lily: 'Lily Script One', cursive;
$open-sans: 'Open Sans', sans-serif;

body:before {
    width: 100%;
    height: 5px;
    position: fixed;
    top: 0;
    background-color: $transparent-blue;
    content: '';
}

body {
    font-family: $open-sans;
}

header {
    #nav-menu {
        background-color: $transparent-blue;
        margin-top: 5px;
        float: right;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;

        ul {
            margin: 5px;

            li {
                display: inline-block;
                text-transform: uppercase;
                font-weight: 600;
                padding: 0px 5px;

                a {
                    color: $white;
                }
            }
        }
    }
}

#img-logo {
    margin-top: 20px;
}

.background-image {
    background: url(../images/bg-pattern.jpg) fixed center;
    background-size: 100% auto;
}

.container-fluid {
    width: 990px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 56px;

    h1 {
        font-family: $lily;
        font-size: 5rem;
        color: $blue;
        line-height: 0.8;

        span {
            font-family: $open-sans;
            font-size: 2.7rem;
            color: $transparent-blue;
        }
    }

    .catalog {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        display: block;
        background-color: $transparent-white;
        padding: 7px;
        color: $white;

        .col-home {
            padding: 0 30px;
            height: 215px;
            max-height: 215px;

            h2 {
                font-family: $lily;
            }

            h3 {
                font-family: $lily;
            }

            .price {
                font-family: $lily;
                font-size: 3rem;
                float: right;
            }
        }

        .col-left {
            -webkit-border-radius: 15px 0 0 15px;
            -moz-border-radius: 15px 0 0 15px;
            border-radius: 15px 0 0 15px;
            background-color: $pink;
            border-right: dotted 5px $white;
        }

        .col-right {
            -webkit-border-radius: 0 15px 15px 0;
            -moz-border-radius: 0 15px 15px 0;
            border-radius: 0 15px 15px 0;
            background-color: $green;
            border-left: dotted 5px $white;
        }
    }

    #product-block {
        cursor: pointer;

        img {
            width: auto;
            height: 130px;
            display: block;
            margin: 0 auto;
        }
    }

    #news-block {
        height: 130px;
        overflow-x: hidden;

        a {
            font-family: $lily;
            color: $white;
        }
    }

    #services {
        background-color: $green;

        p.price {
            color: $white;
            font-family: $lily;
            font-size: 3rem;
        }

        div.pagseguro {
            border-radius: 10px;
            background-color: $white;
            padding: 8px;
            margin-bottom: 8px;
            float: left;
            border: 2px dashed $green;
        }
        
        .detail {
            h3 {
                font-family: $lily;
                color: $white;
                font-size: 4rem;
            }

            p {
                font-size: 2rem;
                text-align: justify;
                padding: 0 1.5rem;
                font-weight: 300;
            }
        }

        div.item {
            padding: 16px;
            color: $white;

            .number {
                font-family: $lily;
                font-size: 7.5rem;
                display: block;
                width: 130px;
                height: 130px;
                padding: 13px;
                text-align: center;
                margin: 0 auto;
                background-color: $transparent-blue;
                box-sizing: border-box;
                border-radius: 50%;
                border: 3px solid $white;
                margin-bottom: 8px;
            }

            h3 {
                font-family: $lily;
                width: 100%;
                height: 100px;
                display: table;
                text-align: center;

                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }

        .btn-default {
            font-family: $lily;
            font-size: 2rem;
            border-radius: 20px;
            background-color: $white;
            color: $green;
        }

        .margin-bottom {
            margin-bottom: 16px;
        }
    }

    #contact {
        color: $white;
        background-color: $pink;
    }

    .box {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        display: block;
        background-color: $transparent-white;
        padding: 7px;
        color: $white;
    }

    .half-left {
        -webkit-border-radius: 10px 0 0 10px;
        -moz-border-radius: 10px 0 0 10px;
        border-radius: 10px 0 0 10px;
    }

    .half-right {
        -webkit-border-radius: 0 10px 10px 0;
        -moz-border-radius: 0 10px 10px 0;
        border-radius: 0 10px 10px 0;
    }

    .half-box {
        background-color: $pink;
        padding: 32px;
        height: 416px;

        h2 {
            font-family: $lily;
        }

        p {
            font-style: italic;
        }

        div.form-group {
            margin: 8px 0;
            padding: 4px 8px;

            label {
                text-align: right;
                font-family: $lily;
                font-size: 2rem;
            }

            .form-field {
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                color: $blue;
                padding: 4px 16px;
            }

            .btn-default {
                font-family: $lily;
                color: $pink;
                font-size: 2rem;
                float: right;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
            }
        }
    }

    .contacts {
        padding: 6px 30px;

        .row {
            margin: 16px 0;
        }

        .text-icon {
            font-family: $lily;
            font-size: 2rem;
            display: inline-block;
        }
    }
}

footer:before {
    height: 2px;
    background-color: $white;
    content: '';
}
footer {
    background-color: $blue;
    padding: 16px 16px 8px;
    position: fixed;
    bottom: 0;
    width: 100%;

    p {
        display: block;
        color: $white;
        font-style: italic;
        text-align: center;
    }
}

.icon {
    width: 26px;
    height: 26px;
    display: inline-block;
    background: url(../images/icons.png);
}

.icon-tel {
    background-position: 0 0;
}

.icon-mobile {
    background-position: 0 -40px;
}

.icon-email {
    background-position: 0 -80px;
}

.icon-pin {
    background-position: 0 -119px;
}

.success {
    color: #000000;
    background-color: $green;
    padding: 4px 8px;
}

.error {
    color: #000000;
    background-color: $orange;
    padding: 4px 8px;
}
