{% extends "base/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <h1>Serviço</h1>

    <div class="col-xs-12" id="services">
        <div class="detail">
            <h3>{{ item.name }}</h3>

            {{ item.description|safe }}
        </div>

        <a href="{% url 'servicos' %}" class="btn btn-default pull-right margin-bottom">Voltar</a>
    </div>
{% endblock %}
