{% extends "base/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <h1>Serviços</h1>

    <div class="col-xs-12" id="services">
        {% for item in items %}
            {% if forloop.counter0|divisibleby:3 or forloop.first %}
                <div class="row">
            {% endif %}

            <div class="item col-xs-4 col-md-4">
                <span class="number">{{ item.number }}</span>
                <h3 class="text-center"><span>{{ item.name }}</span></h3>
                <a href="{% url 'servico' id=item.id %}" class="btn btn-default pull-right">Saiba +</a>
            </div>

            {% if forloop.counter|divisibleby:3 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
