{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href='https://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/estilo.css' %}?v={{ clean_cache }}">
    <title>{% block title %}Quero Mamar{% endblock %}</title>
</head>
<body class="background-image">
    <div class="container-fluid" style="background-image: url({{ background_image }}); background-position: top right; background-size: {% block 'background-size' %}50%{% endblock %}">
        <header>
            <nav id="nav-menu">
                <ul>
                    <li><a href="{% url 'index' %}" title="">Home</a></li>
                    <li><a href="{% url 'quem-somos' %}" title="">Quem Somos</a></li>
                    <li><a href="{% url 'servicos' %}" title="">Serviços</a></li>
                    <li><a href="{% url 'product' id=3 %}" title="">Manual de Aleitamento Materno</a></li>
                    <li><a href="{% url 'noticias' %}" title="">Blog</a></li>
                    <li><a href="{% url 'contato' %}" title="">Contato</a></li>
                </ul>
            </nav>

            <div class="row">
                <div class="col-xs-3" id="img-logo">
                    <a href="{% url 'index' %}">
                        <img class="img-responsive" src="{% static 'images/quero_mamar.png' %}" alt="">
                    </a>
                </div>
            </div>
        </header>

        <div class="row">
            {% block content %}{% endblock%}
        </div>
    </div>

    <footer>
        <div class="row">
            <p>Quero Mamar ® - Todos os direitos reservados</p>
        </div>
    </footer>
</body>
</html>