{% extends "base/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <h1>Fale Conosco</h1>

    <div class="col-xs-12 box">
        <form action="{% url 'contato' %}" method="post" class="col-xs-12 col-md-6 half-box half-left" id="contact-us">
            <h2>Dúvidas?</h2>
            <p>Envie suas dúvidas através do formulário abaixo e entraremos em contato o mais breve possível. :)</p>

            {% if class %}
                <p class="{{ class }}">{{ message }}</p>
            {% else %}
                {% csrf_token %}

                <div class="form-group row">
                    <label for="name" class="col-md-4">Nome:</label>
                    <input type="text" class="form-field col-md-8" name="name">
                </div>

                <div class="form-group row">
                    <label for="telephone" class="col-md-4">Telefone:</label>
                    <input type="text" class="form-field col-md-8" name="telephone">
                </div>

                <div class="form-group row">
                    <label for="email" class="col-md-4">E-mail:</label>
                    <input type="text" class="form-field col-md-8" name="email">
                </div>

                <div class="form-group row">
                    <label for="message" class="col-md-4">Mensagem:</label>
                    <textarea name="message" class="form-field col-md-8"></textarea>
                </div>

                <div class="form-group row">
                    <input type="submit" class="btn btn-default">
                </div>
            {% endif %}
        </form>

        <div class="col-xs-12 col-md-6 half-box half-right">
            <h2>Contato</h2>
            <p>Ou, se preferir, entre em contato através dos dados abaixo:</p>

            <div class="contacts">
                <!-- <div class="row">
                    <span class="text-icon"><span class="icon icon-tel"></span> 11 3333-3333</span>
                </div> -->

                <div class="row">
                    <span class="text-icon"><span class="icon icon-mobile"></span> 11 9 8495-2524</span>
                </div>

                <div class="row">
                    <span class="text-icon"><span class="icon icon-email"></span> contato@queromamar.com.br</span>
                </div>

                <div class="row">
                    <a style="color:white" href="https://www.facebook.com/queromamar.queromamar"><img width="30px" src="http://static.wixstatic.com/media/11bddb_b7a8d17780f6ff4c97dbb6ddfbe9e564.png"> fb.com/queromamar</a>
                </div>

                <div class="row">
                    <a style="color:white" href="https://www.instagram.com/quero_mamar/"><img src="https://5a5a57ff32a328601212-ee0df397c56b146e91fe14be42fa361d.ssl.cf1.rackcdn.com/icon/instagram_logos_app_icon/YyepHGHDvkl1wFkUHw8Y/Instagram-v051916_200.png" width="30px"> @quero_mamar</a>
                </div>

                <!-- <div class="row">
                    <span class="text-icon"><span class="icon icon-pin"></span> Rua Teste, 99 - Bairro dos Testes, Teste</span>
                </div> -->
            </div>
        </div>
    </div>
{% endblock %}
