{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quero Mamar | Em breve</title>
    <style type="text/css" media="screen">
        body {
            background-image: url({% static 'images/background.png' %});
            background-size: center;
        }

        img {
            display: block;
            margin: 0 auto;
            margin-top: 7rem;
        }

        h1 {
            font-family: 'Lily Script One', cursive;
            font-weight: 500;
            color: #2eabcb;
            text-align: center;
            font-size: 5rem;
        }

        p {
            font-family: 'Open-Sans', sans-serif;
            color: #2eabcb;
            text-align: center;
            font-size: 2rem;
            width: 450px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <img src="{% static 'images/quero_mamar.png' %}" alt="">

    <h1>Em breve!</h1>
    <p>O site com as informações que toda mamãe precisa saber! :)</p>
</body>
</html>