{% extends "base/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <div class="col-xs-12 col-md-6">
        <h1>Apoio a mamãe,<br><span>esclarecendo dúvidas sobre</span><br>aleitamento materno<br><span>e os cuidados com o seu bebê</span></h1>
    </div>

    <div class="col-xs-12 catalog">
        <div class="col-home col-left col-xs-6">
            <div class="row">
                <h2>Nosso Produto</h2>
            </div>
            
            <div class="row" id="product-block" onclick="redirectToProduct({{product.id}})">
                <div class="col-xs-5">
                    <img src="media/{{ product.image }}" alt="" class="img-responsive">
                </div>
                <div class="col-xs-7">
                    <h3 style='margin-top:0px!important'>{{ product.name }}</h3>
                    <p style='overflow-y: scroll;height:50px'>{{ product.description }}</p>
                    <span class="price">{{ product.value }}</span>
                </div>
            </div>
        </div>

        <div class="col-home col-right col-xs-6">
            <div class="row">
                <h2>Últimas Notícias</h2>
            </div>

            <div class="row" id="news-block">
                <div class="col-xs-12">
                    {% for new in news %}
                        <div class="news-content">
                            <span class="date">{{ new.created_at|date:"d.m.Y" }}</span>
                            <h4>{{ new.title }}</h4>
                            <p>{{ new.short_text }}</p>
                            <p class="text-right"><a href="{% url 'noticia' id=new.id %}">Leia mais...</a></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="popup" style="position:fixed;width:100%;height:100%;top:0;left:0;background-color:rgba(46, 171, 203, 0.6)">
        <div class="container" style="width:550px;background-color:#feb8ba;border-radius:1rem;margin-top:40vh;padding:3vh">
            <span style="color:white;float:right;cursor:pointer" onclick="document.querySelector('#popup').style.display = 'none'">X</span>
            <div class="form-group">
                <label for="email" style="color:white;font-size:2rem;font-weight:100">Deixe seu email e receba os artigos quando forem publicados</div>
                <input type="email" name="email" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-default col-xs-12" />
            </div>
        </div>
    </div>

    <script>
        function redirectToProduct(id) {
            url = "/produto/" + id
            location.href=url;
        }
    </script>
{% endblock %}

