{% extends "base/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <h1>Produto</h1>

    <div class="col-xs-12" id="services">
        <div class="col-xs-12" style="margin-bottom: 16px;">
            <h3>{{ item.name }}</h3>

            <div class="col-xs-3">
                <img src="/media/{{ item.image }}" alt="{{ item.name }}" class="img-responsive">
            </div>

            <div class="col-xs-9">

                <p>{{ item.description|linebreaks }}</p>
                
                <p class="price">{{ item.value }}</p>
                
                <div class="pagseguro">
                    {{ item.pagseguro|safe }}
                </div></div>

                <div class="row">
                    <p>Calcular valor aproximado do Frete</p>
                    <form class="col-xs-4" id="calculator">
                        <div class="form-group">
                            <input type="text" name="cep" class="form-control">
                        </div>
                        <input type="submit" value="Calcular" class="btn btn-primary col-xs-6">
                        <span class="col-xs-6" id="frete"></span>
                    </form>
                    <script src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
                    <script>
                            $('#calculator').submit(function(e) {
                                $.get("http://developers.agenciaideias.com.br/correios/frete/json/02938000/" + $('[name=cep]').val() + "/0.3/500", function(data) {
                                    $('#frete').html("Sedex: R$ " + data.sedex + "<br>PAC: R$ " + data.pac);
                                });

                                e.preventDefault();
                            });
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
