{% extends "base/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <h1>{{ content.title }}</h1>
    <div style='font-size: 2rem'>{{ content.content_text|linebreaks }}</div>
{% endblock %}
