{% extends "base/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <h1>Artigo</h1>

    <div class="col-xs-12" id="services">
        <div class="col-xs-12">
            <h3>{{ item.title }}</h3>
            {{ item.created_at|date:"d.m.Y" }}

            <p>{{ item.short_text }}</p>
            {{ item.text|safe }}
        </div>

        <a href="{% url 'noticias' %}" class="btn btn-default pull-right margin-bottom">Voltar</a>
    </div>
{% endblock %}
