{% extends "base/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <h1>Blog</h1>

    <div class="col-xs-12" id="services">
        {% for item in items %}
            <div class="row">
                <div class="col-md-offset-1 col-xs-12 col-md-10">
                    <h3>{{ item.title }}</h3>
                    {{ item.created_at|date:"d.m.Y" }}
                    <p>{{ item.short_text }}</p>
                    <a href="{% url 'noticia' id=item.id %}" class="btn btn-default pull-right">Leia +</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
